:root{
  /*Text*/
  --text-family: Montserrat, Arial, sans-serif;


  /*Color*/
  --color-default: #ffffff;
  --color-default-100: #000000 ;

  --color-primary: #2091f9;
  --color-primary-100: #252b42;

}


@mixin flexible() {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--text-family);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-default {
  cursor: pointer;
  outline: none;
  font-family: var(--text-family);
  font-size: 14px;
  font-weight: 450;
  border: 0;
  color: var(--color-default-100);
}
/*----------------------------Home-page--------------------------------------*/
.home-page-section {
  margin: 0 auto;
  min-height: 800px;
  background-image: url(../img/home-page/home-page-background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page-wrapper {
  padding: 230px 25px 25px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.nav-wrapper {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
  min-height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .logo {
    margin-right: 16px;
    padding-bottom: 10px;
  }

  .menu {
    align-self: stretch;
    max-height: 94px;
    margin-right: 16px;

    .navigation__burger-menu {
      display: none;
    }
    .nav-list {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
.list-item {
  height: 100%;
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }
}
.menu-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: var(--color-default);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;

  &:hover {
    color: var(--color-primary);
  }
}

  .user-data, .adaptive-user-data{
    display: flex;
    align-items: center;

    .btn-account {
      margin-right: 16px;
      background: transparent;

      &:hover {

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        color: var(--color-primary);

      }
    }

    .label-account {
      margin-right: 32px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: var(--color-default);

      &:hover {
        color: var(--color-primary);
      }
    }

    .favorites {
      margin-right: 32px;

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    .basket:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .adaptive-menu{
    display: none;
  }


.title-collection {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-default);
}

.home-page-heading {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  color: var(--color-default);
}

.sub-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-default);
}

.home-page-btn {
  width: 179px;
  height: 56px;
  font-weight: bold;
  background-color: var(--color-default);
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
  }
}
/*--------------------------Things-----------------------------------------*/

.things-wrapper {
  margin: 0 auto;
  max-width: 1150px;
  padding: 50px 25px 50px 25px;
}

.things-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;

}

.container:nth-child(1) {
  @include flexible;
  grid-column: 1/2;
  grid-row: 1/2;

}

.box-btn {
  text-decoration: none;
  position: absolute;
  padding: 15px 32px;
  max-width: 139px;
  height: 54px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-default);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-default);

  &:hover {
    background: rgba(248, 243, 243, 0.78);
    color: var(--color-primary);
  }
}

.container:nth-child(2) {
  @include flexible;
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.container:nth-child(3) {
  @include flexible;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
}

.container:nth-child(4), .container:nth-child(5) {
  @include flexible;
  width: 100%;
}

/*------------------------Product-------------------------------------------*/
.products {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
}

.products-content {
  margin: 0 auto;
  max-width: 1150px;
  padding: 40px 25px 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.btn-link {
  padding: 0 10px;
  position: relative;
  background: transparent;
  font-weight: 600;


  &:after {
    content: "";
    width: 39px;
    height: 2px;
    background-color: var(--color-primary);
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    opacity: 0;
  }

  &:hover {
    color: var(--color-primary);
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
  }

  &:hover:after {
    opacity: 0.75;
    -webkit-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
  }

  &:last-child {
    margin: 0;
  }

}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
  grid-gap: 40px;
}

.inner-product-content {
  position: relative;
  display: inline-block;
  text-align: left;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 9px;
    right: 7px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
  }
}

.heart {
  z-index: 2;
  position: absolute;
  top: 18px;
  right: 22px;
}

.btn-like {
  cursor: pointer;
  outline: none;
  position: relative;
  width: 13px;
  height: 19px;
  left: 0;
  bottom: 4px;
  top: 50%;
  border: 0;
  background-color: var(--color-default);
  border-radius: 15px 15px 0 0;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);


  &:before {
    position: absolute;
    width: 19px;
    height: 13px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: var(--color-default);
    border-radius: 0 15px 15px 0;
  }

  &:focus,
  &:focus:before {
    background: red;
  }

}

.girls-photo {
  width: 100%;
  height: auto;
  margin: 0 0 14px 0;
}

.product-description {
  margin: 0 0 14px 0;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: var(--color-primary-100);
}

.product-name {
  font-weight: normal;
  line-height: 30px;
}

.product-subtitle-color {
  display: block;
  opacity: 0.5;
  margin: 0;
}

.product-price {
  font-size: 24px;
}

.product-color {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-row-gap: 10px;
  margin: 0 0 14px 0;
}

.btn-color {
  width: 30px;
  height: 30px;
  border: 2px white solid;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


  &:nth-child(1) {
    background-color: var(--color-primary);
  }

  &:nth-child(2) {
    background-color: #2DC071;
  }

  &:nth-child(3) {
    background-color: #E77C40;
  }

  &:nth-child(4) {
    background-color: #252B42;
    margin: 0;
  }

  &:hover {
    -webkit-box-shadow: 0 0 15px #007bff;
    box-shadow: 0 0 15px #007bff;
    -webkit-transition: 0.67s;
    -o-transition: 0.67s;
    transition: 0.67s;
  }

  &:focus {
    -webkit-box-shadow: 0 0 20px #0041ff;
    box-shadow: 0 0 20px #0041ff;
  }
}

.product-size {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  grid-row-gap: 10px;
}

.btn-size {
  background-color: var(--color-default);
  width: 34px;
  height: 29px;
  border: 1px solid #E4E4E4;


  &:hover {
    background-color: rgba(181, 181, 181, 0.67);
    -webkit-transition: 0.67s;
    -o-transition: 0.67s;
    transition: 0.67s;
  }

  &:focus {
    background-color: rgba(136, 136, 136, 0.67);
  }
}

/*---------------------------Product-latest---------------------------------------*/

.products-latest-content {
  margin: 0 auto;
  max-width: 1150px;
  padding: 90px 25px 80px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-latest-title {
  margin: 0;
}


.inner-content {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 9px;
    right: 7px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
  }
}

.product-grid-content {
  display: grid;
  justify-items: center;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.product-image {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.product-name-latest {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.product-price-latest {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.product-size-latest li {
  margin-right: 8px;
}

.product-size-latest li:last-child {
  margin: 0;
}

/*----------------------------Blog---------------------------------------*/

.blog {
  background-color: #FFF8F8;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 1150px;
  padding: 44px 25px 64px 25px;
}

.blog-heading {
  font-size: 24px;
  margin: 0 0 60px 0;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card {
  text-align: left;
  background-color: var(--color-default);
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
}

.card-text-content {
  padding: 29px 16px 26px 20px;
}

.card-date {
  font-weight: bold;
  line-height: 24px;
  color: #BDBDBD;
  margin-bottom: 12px;
}

.card-heading {
  line-height: 36px;
  color: var(--color-primary-100);
  margin-bottom: 13px;
}

.card-information {
  font-weight: 500;
  line-height: 28px;
  color: #858585;
  margin-bottom: 28px;
}

.card-link {
  text-decoration: none;
  font-weight: bold;
  line-height: 24px;
  color: #8EC2F2;

  &:hover {
    color: #234dcb;
  }
}

.card-links li {
  margin-right: 14px;

  &:last-child {
    margin: 0;
  }
}

/*-----------------------------Shop-of-instagram--------------------------------------*/

.shop-inst-wrapper{
  margin: 0 auto;
  padding: 52px 0;
  background: #313958;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.shop-inst-heading{
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  color: var(--color-default);
  margin-bottom: 69px;
}

/*--------------------------Slider-----------------------------------------*/

.slider{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}




/*-----------------------Footer------------------------------------*/
.footer-wrapper{
  margin: 0 auto;
  padding: 25px 25px;
  min-height: 148px;
  background: var(--color-primary-100);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-menu{
  max-height: none;
}

.social-links {
  align-items: baseline;
  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

}


@media (max-width: 1440px) {
  .product-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .nav-wrapper{
    align-items: baseline;
  }
  .nav-wrapper .user-data {
    display: none;
  }
  .menu {
    display: none;
  }
  .footer-menu{
    display: block;
  }
  .adaptive-menu{
    display: block;
  }
  .adaptive-user-data {
    margin: 0 6px 15px 0;
    .label-account{
      display: none;
    }
    .btn-account{
      margin-right: 32px;
    }

  }
  .wrapper-checkbox {
    display: none;

    &:checked {
      & ~ .wrapper-menu {
        right: 0;
      }

      & ~ .wrapper-button .wrapper__button-line {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 8px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          width: 30px;
          transform: rotate(-45deg);
          top: -6px;
        }
      }
    }
  }



  .wrapper-button {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999999999999999;
  }

  .wrapper__button-line {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: var(--color-default);
    margin: 2px 0;
    position: relative;
    transition: all 0.1s linear 0.2s;
    &:nth-child(2){
      width: 16px;
    }
    &:nth-child(3){
      width: 9px;
    }
  }

  .wrapper-menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 250px;
    background: rgba(134, 168, 190, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 80px 40px 40px;
    transition: right 0.4s;
    border-bottom-left-radius: 100px;
    z-index: 999999;
  }
  .wrapper__menu-link {
    font-family: var(--text-family);
    font-weight:500;
    font-size: 18px;
    line-height: 20px;
    color: var(--color-default-100);
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 5px 10px;
    transition: all 0.2s linear;

    &:hover {
      padding-right: 20px;
    }
  }

  .things-wrapper {
    margin: 0 auto;
  }
  .things-content {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-image {
    width: 100%;
    height: 100%;
  }

  .product-wrapper {
    margin: 0 auto;
  }

  .product-grid-content {
    grid-template-columns: repeat(3, 1fr);
  }


}

@media (max-width: 992px) {

  .wrapper-menu {
    background: rgba(134, 168, 190, 0.88);
  }
  .product-wrapper {
    margin: 0 auto;
    width: 100%;
  }


  .product-grid-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-wrapper, .footer-nav-list{
    flex-direction: column;
  }

  .footer-logo{
    margin: 0 auto 20px;
    padding: 0;
  }
  .footer-list-item{
    margin: 0;
  }
  .menu-link{
    text-align: center;
    line-height: 49px;
    font-weight: 400;
  }

  .footer-menu{
    margin: 0 0 25px 0;
  }

}


@media (max-width: 563px) {
  .wrapper-menu {
    background: rgba(134, 168, 190, 0.95);
  }
  .home-page-heading {
    font-size: 38px;
  }

  .things-content {
    grid-template-columns: 1fr;
  }
  .container:nth-child(2) {
    grid-row: 2;
  }
  .container:nth-child(3)  {
    grid-column: 1;
    grid-row: 3;
  }
  .product-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  .girls-photo {
    position: relative;
    margin: 0;
  }

  .inner-product-content:nth-child(2):before {
    content: "Sale";
    position: absolute;
    z-index: 2;
    width: 63px;
    height: 25px;
    left: 12px;
    top: 11px;
    background-color: #FF5674;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3px;
    color: var(--color-default);
  }


  .inner-product-content .product-information {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 12px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.67);
      -webkit-transform: translate(0, -2%);
      -ms-transform: translate(0, -2%);
      transform: translate(0, -2%);
      padding: 22px;
    }

  .inner-product-content:hover .product-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .product-grid-content {
    padding: 0 25px;
    grid-template-columns: 1fr;
  }

  .header-content {
    margin-bottom: 32px;
  }

  .product-size-latest {
    display: none;
  }

  .products-latest-content {
    padding: 90px 0 80px 0;
  }

  .blog-content {
    grid-template-columns: 1fr;
  }


}


